@import "tailwindcss";

@font-face {
  font-family: "BricolageGrotesque";
  src: url("/fonts/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf");
}
@font-face {
  font-family: "DMSans";
  src: url("/fonts/DMSans-VariableFont_opsz,wght.ttf");
}

@theme {
  --color-background: #02012b;
  --color-ui-main: #25253f;
  --font-bricolage-grotesque: "BricolageGrotesque";
  --font-dmsans: "DMSans";
}

body {
  font-family: "DMSans";
}
